/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.skinny {
  font-weight: 100 !important;

}
.logocorner {
  height:275px;
  margin-bottom: 50px;
  border-top: 5px solid #f0ad4e;
}
.logoleft {
  width: 270px;
  padding-top:20px;
}
input[type=search] {
  box-shadow: none !important;
  border-bottom: none !important;
}
.usermenu {
  margin-top:15px;
}
.usermenu > a {
  margin-right:10px;
}
.main-content-area {
  padding:30px;padding-top:0px;padding-bottom:0px;
}
.iasred-text {
  color: #7d2e2c !important;
}
.widgets-content {
  padding:5px !important;
}
.indexbox {
  text-transform: uppercase;
  font-weight: 300;
}
.card-head {
    position: relative;
    line-height: 52px;
    min-height: 56px;
    vertical-align: middle;
    border-radius: 2px 2px 0 0;
    background-color: #7d2e2c;
    border-color: #7d2e2c;
    color: #ffffff;
}
/* Circle Avatar Styles */

.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  border: 2px solid rgba(255,255,255,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
  height: 75px;
  width: 75px;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.circle:hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */	
.loggedin-user{
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 0px;
}
.thumbnail { 
  display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
#hide-margin-bottom .row {
  margin-bottom:0px;
}
