/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.skinny {
  font-weight: 100 !important;

}
.logocorner {
  height:220px;
  margin-bottom: 50px;
  border-top: 5px solid #f0ad4e;
}
.logoleft {
  width: 270px;
  padding-top:20px;
}
input[type=search] {
  box-shadow: none !important;
  border-bottom: none !important;
}
.usermenu {
  margin-top:15px;
}
.usermenu > a {
  margin-right:10px;
}
.main-content-area {
  padding:30px;padding-top:0px;padding-bottom:0px;
}
.iasred-text {
  color: #7d2e2c !important;
}
